
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

main {
  padding: 20px;
  text-align: center;
  flex: 1;
  background-color: #ebe1d5;
  color: #000;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
}

.text-box {
  text-align: justify;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 45%;
}

.image-box img {
  width: 100%;
  max-width: 100px;
  border-radius: 5px;
}

.box-logo{
  width: 45%;
  text-align: center;
}

.box-logo img{
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}